*
  box-sizing: border-box
body
  font-family: 'Calibri', sans-serif
  background-color: #f4f5f5
  color: #48302c
.container
  max-width: 1140px
  margin: auto
.title
  font-size: 32px
  line-height: 36px
  margin: 0
  padding: 20px 82px
  text-transform: uppercase
  font-weight: bold
  background-color: #66cccc
  color: #fff
.text
  font-size: 22px
  line-height: 20px
  margin: 0
::-webkit-scrollbar
  width: 10px // ширина для вертикального скролла
  height: 8px // высота для горизонтального скролла
  background-color: #66cccc

// ползунок скроллбара
::-webkit-scrollbar-thumb
  background-color: #ff6600
  border-radius: 9em
  box-shadow: inset 1px 1px 10px #fff

::-webkit-scrollbar-thumb:hover
  background-color: #66cccc
