.header
  &-wrapper
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 30px
    padding-bottom: 40px
  &__text
    font-size: 32px
    line-height: 36px
    max-width: 320px
    margin: 0
    margin-left: -13%
    text-transform: uppercase
  &__social
    width: 25px
    height: 25px
    margin-top: 34px
    margin-left: 100%
    transform: translateX(-100%)
.contacts
  display: flex
  flex-direction: column
  justify-content: end
  &-phone
    display: flex
    align-items: center
    &__icon
      width: 30px
      margin-right: 23px
    &__number
      font-size: 26px
      line-height: 35px
      text-decoration: none
      color: $brown
.navbar
  display: flex
  align-items: center
  justify-content: space-between
